.glow-purple:focus {
    border: 1px solid rebeccapurple;
    outline: 0;
    box-shadow: 0 0 3px 0px rebeccapurple;
    -webkit-box-shadow: 0 0 3px 0px rebeccapurple;
}
.coarse-border {
    border-style: dashed;
    border-width: 50px 60px 70px;
    width: fit-content;
}
