.purple {
    background-color: rebeccapurple;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.rainbow {
    background: linear-gradient(red, orange, yellow, greenyellow, green, aqua, blue, mediumpurple);
}


.selection-blue ::selection {
    color: #FFFFFF;
    background-color: deepskyblue;
    text-shadow: none;
}

@keyframes rainbow {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
}
.bg-rainbow ::selection {
    background: linear-gradient(red, orange, yellow, greenyellow, green, aqua, blue, mediumpurple);
    color: transparent;
    animation: rainbow 10s linear infinite;
}

body ::-moz-selection {
    color: #FFFFFF;
    background-color: #E84893;
    text-shadow: none;
}

.deep-water {
    margin: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1a1722, #1a1648);

}

.white {
    color: white;
}

.white a {
    color: white;
}