
.items-container {
    display: flex;
    flex-direction: column;
}
/*cat页面*/
.main-content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 30px;
    background-color: #6b5d7e;
    padding: 20px;
}

.main-content-articles {
    width: 90vw;
}

.main-content-width-1200px{
    width: 1200px;
}

.main-content-width-1500px{
    width: 1500px;
}

/*图像展示*/
.atlas {
    display: flex;
    flex-direction: column;
    border: solid 1px #DDD;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px #ccc;
    width: 400px;
}

/*段落标题*/
.para-level-3 {
    border-left: 12px solid #4F9CEE;
    padding: 0 8px 0 18px;

    display: block;
    font-size: 20px;
    line-height: 24px;
    font-family: Microsoft YaHei, serif;
}
.para-level-3-no-bg{
    background: none;
}
.atlas img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    display: block;
}

.atlas i {
    padding: 8px 5px 8px 14px;
}

/*首页上背景*/
 .cols {
    display: flex;
    flex-direction: row;
   background-color: #6b5d7e;
} 

.blank {
    width: 100px;
    background-color: rgb(11, 3, 62);
}

.blank-left {

}

.blank.blank-right {
    width: 410px;
}
.blank-right{
    width: 30vw;
}

.bg-right{
    background-image: url(../images/miku_right_col.jpg);
    background-repeat: repeat;
}

.img-blank{
    width: 400px;
}