.col {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

.col-have-shrink{
    display: flex;
    flex-direction: column;
}
.display img {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 600px;
}


.row {
    display: flex;
    flex-direction: row;
}

.row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-top-30{
    margin-top:30px;
}


.margin-top-100{
    margin-top:100px;
}


.cover-img {
    background-size: cover;
    height: 100%;

    width: 100%;
}

.box-right {
    float: right;
    margin: 0;
    color: white;
    text-indent: 10px;
}

.box-right h3 {

    margin: 0;
}


html, body {
    height: 100%
}

.outer-wrap {
    height: 100%;
    position: relative;
}

.first-row {
    margin-top: 100px;
}

.float-right {
    float: right;
}

.login-panel {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
}

.col-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    place-items: center;

}

.vertical-text {
    width: 40px;
    margin: 0 auto;
    line-height: 44px;
    font-size: 40px;
}

.vertical-text-writing-mode {
    writing-mode: vertical-lr;
    text-align: center;
    height: 500px;
}

.vertical-text-top-method {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.middle-layout {
    top: .5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.middle-layout-parent {
    display: table;
    width: 500px;
    height: 500px;
    text-align: center;
}

.middle-layout-son {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#gotop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
}

.center-block {
    margin: 0 auto;
    width: 8rem;
    padding: 1rem;
    color: #fff;
    background: #000;
}

.float-left {
    float: left;
}

.copyright {
    display: flex;
}


.copyright {
    height: 90px;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

@media screen and (min-width: 640px) {
    .copyright {
        display: flex;
    }
}

.copyright div, .copyright address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-size: 1.1rem;
    margin: 0 0.5rem;
}

.copyright a:hover {
    text-decoration: none;
    color: mediumpurple;
}

.grid {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px 300px 300px;
    grid-auto-flow: row dense;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px;
}

.grid-four{

    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 30vw  30vw ;
    grid-row-gap: 3vw;
    grid-column-gap: 3vw;
    text-align: center;
    background-color: #6b5d7e;
}

.grid-four-12vw{
    display: grid;
    grid-template-columns:12vw 12vw;
    grid-template-rows: 12vw 12vw;
    grid-column-gap: 3vw;
    text-align: center;
}

.grid-four-item{
    width: 30vw;
}
.grid-four-item img{
    width: 30vw;
}

.margin-left-10vw{
    margin-left: 10vw;
}


.grid .item {
    font-size: 4em;
    text-align: center;
    border: 3px solid rgb(11, 123, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%, 100%;
}

.center-father {
    display: flex;
    align-items: center;
    justify-content: center;
}


.center-son {
    display: flex;

}

.item img {
    width: 200px;
    height: 100px;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../images/ow.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}


.multi-column {
    column-count: 5;
    column-gap: 25px;
    column-rule: 5px solid rebeccapurple;
}

.multi-column-3{
    column-count: 3;
}

.multi-column p {
    margin-top: 10px;
}

.multi-column-top0 p{
    margin-top: 0;
}

.multi-column-top0{
    margin-top: 0;
}

.item-2 {
    background:url(../images/duck.jpg) 10% 30%;
}

.item-3 {
    background:url(../images/giraffe.jpg) 10% 50%;
}

.item-4 {
    background-color: #0376c2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../images/panda.jpg);

}

.item-5 {
    background:url(../images/pig.jpg) 10% 40%;

}


.block {
    display: block;
}

.width-90vw{
    width: 90vw;
}
.width-content{
    width: content-box;
    height: content-box;
}
.height-90vw{
    height: 90vw;
}

.height-50vw{
    height: 50vw;
}

.height-30vw{
    height: 30vw;
}

.width-100vw{
    width: 100vw;
}


.img-container{
    width: 120px;
    height: 300px;
    display: block;
}

.width-30vw{
    width: 30vw;
}
.width-20vw{
    width: 20vw;
}


.middle-layout-pa{
    align-items: center;justify-content: center;
}