.hint{
    float: left;
    width: 100px;
    line-height: 40px;
    background-color: mediumpurple;
    color: white;
}

.big-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.focus-shadow:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.focus-shadow-purple:focus{
    border-color:mediumpurple;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px mediumpurple;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px mediumpurple;
}

.big-input{
    width:300px;
    height: 24px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline-style: none;
    border-radius: 3px;
    padding: 7px 7px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft", serif;
}