* {
    font-family: 微软雅黑, serif;
}

body {
    margin: 0;
}

header {
    height: 100px;
    background-color: rgb(26, 82, 100);
    margin: 0 auto;
    position: relative;
}

.header {
    height: 100px;

    background-color: rgb(39, 62, 70);
    margin: 0 auto;
    position: relative;
}

.header h1 {
    color: white;
    font-family: "黑体", serif;
    font-size: 35px;
    position: absolute;
    padding-left: 75px;
}


header h1 {
    color: white;
    font-family: "黑体", serif;
    font-size: 35px;
    position: absolute;
    padding-left: 75px;
}


#content-wrapper {
    width: 1260px;
    height: 3384px;

    margin: 0 auto;

}

main {
    float: left;
    width: 820px;
    height: 3384px;
    background-color: rgb(62, 46, 79);
    margin: 0;

}

aside {
    float: right;
    width: 410px;
    height: 3384px;
    background-color: yellow;
    margin: 0;

}

footer {
    width: 100%;
    height: 160px;
    background-color: black;
}

.main-content-zoo {
    display: flex;
    flex-direction: row;
}

a.box {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    line-height: 100px;
    text-align: center;
}

.list-box {
    margin-right: 20px;
    padding: 0;
    text-indent: 10px;
}
.list-box-no-bottom-margin{
    margin-block-end:0;
}

.list-box-opacity{
    padding: 0;
    text-indent: 10px;
}
.list-box li {
    width: 270px;
    height: 30px;
    color: white;
    background-color: rgb(36, 77, 91);
    margin: 2px;
    text-decoration: none;
    list-style: none;
}

.list-box-opacity li {
    width: 270px;
    height: 30px;
    color: white;
    opacity: 0;
    margin: 2px;
    text-decoration: none;
    list-style: none;
}


.list-box-opacity a {
    color: white;
    text-decoration: none;
    text-indent: 20px;
}

.list-box a {
    color: white;
    text-decoration: none;
    text-indent: 20px;
}
.article-list li{
    width: 400px;
    background-color: rgb(154, 60, 137);
}

.article-list-opacity li{
    width: 400px;
    opacity: 0.8;
}
