.broke-wall {
    width: 100px;
    height: 300px;
    margin: 10px 20px 30px 40px;
    border-style: dashed;
    border-width: 50px 60px 70px;
    padding: 80px 90px;
    box-sizing: content-box;
}

.broke-wall-crosswise {
    width: 500px;
    height: 300px;
    margin: 10px 20px 30px 40px;
    border-style: dashed;
    border-width: 50px 60px 70px;
    padding: 80px 90px;
    box-sizing: border-box;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blueviolet;
}

.box-100-50 {
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.box-100-50:active {
    border: #0f9d58 solid 1px;
}


.box {
    background-color: purple;
    color: white;
    font-size: 30px;
    margin: 0;
    border-width: 0;
}

.vote-btn{
    width: 50px;
    height: 30px;
    background-color: rebeccapurple;
    color: white;
}

.justify-by-in{
    display:inline-block;width: auto;
}

.box-50-30{
    width: 50px;
    height: 30px;
}
.box-100 {

    width: 100px;
    height: 100px;
}

.box-200-100 {
    width: 200px;
    height: 100px;
}

.box-20vw {
    width:20vw  ;
    height: 10vw ;
}

.box-5vw {
    width:5vw  ;
    height: 3vw ;
}


.box-purple {
    background-color: purple;
}

.box-blue {
    background-color: cornflowerblue;
}

.box-green {
    background-color: greenyellow;
}


.heart {
    transform: rotate(45deg);
    margin: 300px;
    height: 100px;
}
.heart  .disc1 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    margin: 300px 0px 0px 300px;
    border-radius: 100%;
    float: left;
}

.heart  .disc2 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    margin: 250px 0px 0px 0px;
    border-radius: 100%;
    float: left;
    position: relative;
    right: 50px;
}

.heart  .square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
    margin: 300px 0px 0px 0px;
    float: left;
    position: relative;
    right: 152px;
}

.box-10vw {
    width: 10vw;
    height: 5vw;
}

.box-1vw {
    width: 1vw;
    height: .5vw;
    font-size: .5vw;
}

.box-3vw {
    width: 3vw;
    height: 1vw;
    font-size: .5vw;
}

.box-5vw {
    width: 5vw;
    height: 2vw;
    font-size: 1vw;
}
