.taiji {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, .8);
    background: #000;
    border-radius: 50%;
    animation: rotation 10s linear infinite;
    -webkit-animation: rotation 10s linear infinite;
    -moz-animation: rotation 10s linear infinite;
}
.taiji:hover{
    animation: rotation 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}



.taiji:before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
}

.taiji:before {
    border-radius: 150px 0 0 150px;
    background-color: white;
    left: 0;
}


.taiji-500 {
    width: 500px;
    height: 500px;
}
.taiji-500:before {
    border-radius: 250px 0 0 250px;
}



.yang, .yin {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    left: 25%;
    z-index: 99;
}

.yang {
    background: white;
    top: 0;
}

.yin {
    background: black;
    top: 50%;
}

.yin:after, .yang:after {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    display: block;
    content: '';
    left: 25%;
    top: 25%;
}

.yin:after {
    background: white;
}

.yang:after {
    background: black;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}